@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rancho&display=swap");

$light: #eef9ff;
$dark: #0c0c04;
$primary: #068191;
$secondary: #0d445b;
$info: #23abb9;
$success: #04c066;
$warning: #efd103;
$danger: #ff1521;

body {
  font-family: Montserrat, sans-serif;
}

@import "bootstrap/dist/css/bootstrap.min.css";
